.elementGrid {
    position: relative;
    padding: 2rem;
    padding-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
    gap: 1rem;
    margin: auto;
    max-width: 1280px;
}

.gridItem {
    display: block;
    padding: 1rem;
    background-color: var(--bg1);
    border-radius: .5rem;
    cursor: pointer;
}

.gridItem:hover {
    background-color: var(--bg2);
}

.gridItem:hover path, .gridItem:hover p {
    color: var(--blue);
}

.itemIcon {
    font-size: 5rem;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}

.itemTitle {
    user-select: none;
}

.editorHolder {
    height: 100%;
    padding-top: 4rem;
    position: relative;
}

.editorHolderInner {
    height: 100%;
    max-width: 800px;
    margin: auto;
}

.goBackButton {
    position: absolute;
    left: 2rem;
    top: 1rem;
    width: 2rem;
    height: 2rem;
    cursor:pointer;

    border: 1px solid var(--fg0);
    border-radius: 100%;
    padding: .5rem;
    opacity: 50%;

    transition: opacity .2s;
}

.goBackButton:hover {
    background-color: var(--bg2);
    opacity: 100%;
}