.table th {
    text-align: left;
    font-weight: normal;
    border: 1px solid var(--fg0);
    background: var(--bg1);
    padding: 0.2rem;
}

.table td {
    border: 1px solid var(--fg0);
    padding: 0.2rem;
}

.table th,
.table td {
    max-width: 500px;
}

.table {
    margin: 1rem 0;
}
