.confirmButton {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 1rem 0;
    margin-right: 1rem;
}

.resultDiv {
    padding: 1rem;
    border: 1px solid var(--fg0);
    background-color: var(--bg1);
}
