.mainContainer {
    margin: 1rem 0;
    border: 1px solid var(--fg0);
    border-radius: 5px;
    padding: 0.5rem;
}

.titleP {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.insertButton {
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--fg0);
    background: var(--bg0);
    border: 1px solid var(--fg0);
    padding: 0.2rem;
}

.insertButton:hover {
    background: var(--green);
}
