.tab {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    padding: .5rem;
    border: 1px solid var(--fg2);
    border-right: none;
    border-bottom: 2px solid var(--fg2);
    cursor: pointer;
    user-select: none;
    justify-content: space-between;
    position: relative;
    min-width: 0;

}

.tab p {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    flex-grow: 1;
    min-width: 0;
}

.subtitle {
    color: var(--fg2)
}

.subtitle::before {
    content: " (";
}

.subtitle::after {
    content: ")";
}

.selected {
    border-bottom: 2px solid var(--blue);
    background-color: var(--bg1);
}

.closeButton {
    flex-shrink: 0;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
    padding: 0 .3rem;
    margin: 0;
}

.closeButton path {
    color: var(--fg2);
}

.closeButton:hover path {
    color: var(--red);
}

.closeButton:hover {
    background-color: var(--bg1);
}

.selected .closeButton:hover {
    background-color: var(--bg2);
}

.selected .closeButton {
    background-color: var(--bg1);
}