.mainDiv {
    padding: 2rem;
    max-width: 500px;
    border: 1px solid var(--fg0);
    border-radius: 20px;
    margin: 3rem auto;
}

.mainDiv > * {
    display: block;
    margin: 0.5rem 0;
}

.mainDiv input {
    background-color: var(--bg0);
    color: var(--fg0);
    padding: 0.5rem;
    border: 1px solid var(--fg0);
    width: 100%;
}

.mainDiv button {
    margin-top: 2rem;
    padding: 0.5rem;
}
